@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: url("/Be_Vietnam_Pro/BeVietnamPro-Regular.ttf");
  font-family: Vietnam;
}
html {
  font-family: Vietnam;
  background-color: #1b1d1f;
  color: #d2d5da;
}
